{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>
        {% if request.resolver_match.url_name == 'index' %}
            Новые вопросы
        {% else %}
            Популярные вопросы
        {% endif %}
    </h2>
    <div>
        <a href="{% url 'questions:index' %}" 
           class="btn btn-sm btn-link {% if request.resolver_match.url_name == 'index' %}text-dark fw-bold{% else %}text-muted text-decoration-none{% endif %}">
           Новые
        </a>
        
        <a href="{% url 'questions:hot_questions' %}" 
           class="btn btn-sm btn-link {% if request.resolver_match.url_name == 'hot_questions' %}text-dark fw-bold{% else %}text-muted text-decoration-none{% endif %}">
           Популярные
        </a>
    </div>
</div>

   {% for q in questions %}
    {% include 'questions/components/question_item.html' with question=q %}
{% empty %}
    <div class="alert alert-warning">
        Пока нет ни одного вопроса. Будьте первым, кто его задаст!
    </div>
{% endfor %}

    {% include 'questions/components/pagination.html' with page_obj=questions %}
{% endblock %}