{% extends 'base.html' %}
{% load static %}

{% block title %}Вопросы по тегу: {{ tag_name }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Вопросы по тегу: <span class="badge bg-info">{{ tag_name }}</span></h2>
        <div>
            <a href="{% url 'questions:index' %}" class="btn btn-sm btn-link text-dark fw-bold">Новые</a>
            <a href="{% url 'questions:hot_questions' %}" class="btn btn-sm btn-link text-muted">Популярные</a>
        </div>
    </div>

     {% for q in questions %}
        {% include 'questions/components/question_item.html' with question=q %}
    {% empty %}
        <div class="alert alert-info shadow-sm border-0">
            <h4 class="alert-heading">Пока пусто!</h4>
            <p>К сожалению, по тегу <strong>#{{ tag.name }}</strong> еще не задали ни одного вопроса.</p>
            <hr>
            <a href="{% url 'questions:ask' %}" class="btn btn-outline-primary btn-sm">
                Станьте первым, кто это сделает!
            </a>
        </div>
    {% endfor %}

    {% include 'questions/components/pagination.html' with page_obj=questions %}
{% endblock %}